@model IEnumerable<string>

<select id="accounts" title="accounts" onchange="getMovement(this)">
    <option value="0">Choose an Account</option>
    @foreach (string key in Model)
    {
        <option value="@key">Account : @key</option>
    }
</select>

<div id="MovementTable">

</div>

<div>
    <input id="amountquery" type="number" />
    <button onclick="addAmountQuery()">Send by Query</button>
</div>
<div>
    <input id="amountbody" type="number" />
    <button onclick="addAmountBody()">Send by Body</button>
</div>